{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="card">
                <div class="card-header">
                    {{ article.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ article.resume }}</h5>
                    <p class="card-text">{{ article.contenu }}</p>
                    <p class="card-text">{{ article.author}}</p>
                    <p class="card-text">{{ article.date}}</p>
                    <a href="#" class="btn btn-danger delete">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card{
            width: 70%;
            margin: auto;
        }
        .card-header{
            text-align: center;
            font-size: 2em;
        }
    </style>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.delete').click(function(){
            $('.card').hide();
            $( location ).attr("href", '/');
        })
    </script>

{% endblock %}
