{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="articles">
            {% for  article  in tab %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('img/couv.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.resume }}</p>
                        <p class="card-author">{{ article.author }}</p>
                        <p class="card-date">{{ article.date }}</p>
                        <a href={{ path('blog', {'id':  article.id }) }}><button type="button" class="btn btn-primary">Lire l'article</button></a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #articles{
            display: flex;
            flex-direction: row;
            width: 80%;
            margin: auto;
            margin-top: 100px;
        }
        .card{
            margin-right: 10px;
            text-align: center;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
